// @import "materialize/components/color-variables";

// $primary-color: #4DBAC7 !default;
// $secondary-color: #F6C523 !default;

// // @import 'colors';

// // accent #F6C523
// // main #4DBAC7


// //

body {
  margin: 0;
}

// .primary {
//   background: $primary-color;
//   color: white;
// }

// .accent {
//   background: $secondary-color;
//   // .brand-logo {
//   //   color: black;
//   // }
// }
// //

.unstyled-link {
  text-decoration: inherit;
  color: inherit;
}

body {
  overflow-y: scroll;
}

@import 'card';
@import 'splash';
